/* ------ elynor's ------
(c)2025
 */

:root {
    @apply bg-white;

}

a {

}

a:hover {

}

body {
    margin: 0;

}

h1 {

}

button {

}

button:hover {

}

button:focus,
button:focus-visible {

}

